<div class="w3-bar w3-white w3-card">
  <a href="/"><button class="w3-bar-item w3-button w3-light-blue w3-mobile"><b>SIMBION</b> BEASISWA</button></a>
  {% if role == "mahasiswa" %}
    <div id="mahasiswa">
      <a href="#"><button  class="w3-bar-item w3-button w3-mobile">Lihat Status Beasiswa</button></a>
      <a href="#"><button  class="w3-bar-item w3-button w3-mobile">Daftar Beasiswa</button></a>
      <a href="#"><button  class="w3-bar-item w3-button w3-mobile">Lihat Hasil Seleksi Beasiswa</button></a>
      <a href="/logout"><button  class="w3-bar-item w3-button w3-right w3-mobile w3-red">Logout</button></a>
    </div>
  {% elif role == "yayasan" or role == "individual_donor" %}
    <div id="donatur">
      <a href="#"><button  class="w3-bar-item w3-button w3-mobile">Lihat Beasiswa Anda</button></a>
      <a href="#"><button  class="w3-bar-item w3-button w3-mobile">Membuat Beasiswa Baru</button></a>
      <a href="#"><button  class="w3-bar-item w3-button w3-mobile">Membuat Pengumuman</button></a>
      <a href="/logout"><button  class="w3-bar-item w3-button w3-right w3-mobile w3-red">Logout</button></a>
    </div>
  {% elif role == "admin" %}
  <div id="administrator">
    <a href="#"><button  class="w3-bar-item w3-button w3-mobile">Lihat Tempat Wawancara</button></a>
    <a href="#"><button  class="w3-bar-item w3-button w3-mobile">Membuat Tempat Wawancara</button></a>
    <a href="#"><button  class="w3-bar-item w3-button w3-mobile">Membuat Pengumuman</button></a>
    <a href="/logout"><button  class="w3-bar-item w3-button w3-right w3-mobile w3-red">Logout</button></a>
  </div>
  {% else %}
    <div id="login">
      <a href="/account/login"><button  class="w3-bar-item w3-button w3-right w3-mobile">Login</button></a>
      <a href="/account/register"><button  class="w3-bar-item w3-button w3-right w3-mobile">Register</button></a>
    </div>
  {% endif %}

</div>
