{% extends "layout/base.html" %}
{% block title %}
Pendaftaran Beasiswa
{% endblock %}
{% block content %}
<script>
    

</script>

<style> 
form {
    margin-top:20%;
    width: 800px;
    margin:0 auto;
    max-width:60%;
    max-height: 70%
    padding:80px;
}

.w3-container {
    margin-top:3%;
    margin-left:60px;
    margin-right:60px;
}

</style>
<div class="w3-container">
  <div class="w3-card-4">
    <header class="w3-container w3-light-blue">
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1>Daftar beasiswa</h1>
    </header>

    

            <form class="py-3" method="POST">   
                {% csrf_token %}
            <div class="inside-form" style="padding:40px">
                <div class="form-group row">
                    <label for="kode_beasiswa" class="col-sm-3 col-form-label">Kode Beasiswa</label>
                    <div class="col-sm-9">
                        <select id="kode_beasiswa" class="custom-select col-sm-9" required>
                            <option value="placeholder "hidden>Pilih Kode Beasiswa</option>
                            {% for a in table_kode %}
                                <option value=a {% if request.GET.id %} selected {% endif %}>{{ a }}</option>
                                    
                            {% endfor %}
                            
                        </select>
                        <small class="form-text text-danger">*wajib diisi</small>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="npm" class="col-sm-3 col-form-label">NPM</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" disabled name="npm" id="npm" value="1606789321">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="email" class="col-sm-3 col-form-label">Email</label>
                    <div class="col-sm-9">
                        <input type="email" class="form-control" disabled name="email" id="email" value="ntaps@coy.com">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="ips" class="col-sm-3 col-form-label">Indeks Prestasi Semester</label>
                    <div class="col-sm-9">
                        <input type="number" step=0.01 class="form-control" name="ips" id="ips" required>
                        <small class="form-text text-danger">*wajib diisi</small>
                <button  type="submit" class="btn btn-primary pull-right" style="margin-top: 30px">Daftar Beasiswa</button>
                    </div>
                </div>
            </div>
            </form>
            
                
               
            </div>  
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
{% endblock %}