{% extends "layout/base.html" %}
{% block title %}
Penerimaan Beasiswa
{% endblock %}
{% block content %}
<style> 
.container {
    margin-top:20%;
    
    margin:0 auto;
    
    padding:20px;
}

.shadow {
	box-shadow: 0px 3px 10px;
}

.btn-success {
	color:white;
	background-color:green;
}

.btn-warning {
	color:white;
	background-color:red;
}
</style>


<div class="container" >
    <div class="container">
        <div class="row py-2 shadow w3-light-blue">
            <div class="col-md-12 text-center">
                <h1>List Pendaftar Beasiswa - Lorem ipsum</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover ">
                <thead>
                    <tr>
                        <th class="w-20">No Urut Pendaftar</th>
                        <th class="w-20">Nama</th>
                        <th class="w-20">NPM</th>
                        <th class="w-20">Waktu Daftar</th>
                        <th class="w-10">Status Terima</th>
                        <th class="w-10">Pilih</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in '0123' %}
                    <tr>
                        <td class="w-20">Lorem ipsum</td>
                        <td class="w-20">Lorem ipsum</td>
                        <td class="w-20">Lorem ipsum</td>
                        <td class="w-20">Lorem ipsum</td>
                        <td class="w-10">Lorem ipsum</td>
                        <td class="w-10">
                            <a href="#" class="btn btn-success">
                                Terima
                            </a>
                            <a href="#" class="btn btn-warning">
                                Tolak
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}