{% extends "layout/base.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}
<center>

<div class="w3-container" style="margin-top:3%">
  {% for message in messages %}
      <div class="alert {{ message.tags }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <p class="w3-text-blue">{{ message }}</p>
      </div>
    {% endfor %}
  <div class="w3-card-4" style="max-width:55%">
    <header class="w3-container w3-light-blue">
      <h1><strong>SIMBION</strong> BEASISWA</h1>
    </header>

    <div class="w3-container">
      <div class="w3-container w3-padding-16">
        {% if role == "mahasiswa" %}
          <div id="mahasiswa">
            <a href="#"><button  class="w3-button w3-card w3-round w3-light-blue">Lihat Status Beasiswa</button></a><br><br>
            <a href="#"><button  class="w3-button w3-card w3-round w3-light-grey">Daftar Beasiswa</button></a><br><br>
            <a href="#"><button  class="w3-button w3-card w3-round w3-light-white">Lihat Hasil Seleksi Beasiswa</button></a><br><br>
          </div>
        {% elif role == "yayasan" or role == "individual_donor" %}
          <div id="donatur">
            <a href="#"><button  class="w3-button w3-card w3-round w3-light-blue">Lihat Beasiswa Anda</button></a><br><br>
            <a href="#"><button  class="w3-button w3-card w3-round w3-light-grey">Membuat Beasiswa Baru</button></a><br><br>
            <a href="#"><button  class="w3-button w3-card w3-round w3-white">Membuat Pengumuman</button></a><br><br>
          </div>
        {% elif role == "admin" %}
        <div id="administrator">
          <a href="#"><button  class="w3-button w3-card w3-round w3-light-blue">Lihat Tempat Wawancara</button></a><br><br>
          <a href="#"><button  class="w3-button w3-card w3-round w3-light-grey">Membuat Tempat Wawancara</button></a><br><br>
          <a href="#"><button  class="w3-button w3-card w3-round w3-white">Membuat Pengumuman</button></a><br><br>
        </div>
        {% endif %}
      </div>
    </div>

  </div>
</div>
</center>
{% endblock %}
