{% extends "layout/base.html" %}
{% block title %}
Login
{% endblock %}
{% block content %}
<center>

<div class="w3-container" style="margin-top:3%">
  {% for message in messages %}
      <div class="alert {{ message.tags }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <p class="w3-text-red">{{ message }}</p>
      </div>
    {% endfor %}
  <div class="w3-card-4" style="max-width:55%">
    <header class="w3-container w3-light-blue">
      <h1>LOGIN</h1>
    </header>

    <div class="w3-container">
      <div class="w3-container w3-padding-16"><br>
        <form action="/account/post-login/" method="POST">
                {% csrf_token %}
                <p>
                    <label for="username">Username </label>
                    <input type="text" id="username" name="username" required>
                </p>
                <p>
                    <label for="password"> Password </label>
                    <input type="password" id="password" name="password" required>
                </p>
                <br>
                <!--<input type="submit" class="btn btn-primary w3-yellow">-->
                <a href="/"><button class="w3-button w3-card w3-round w3-light-grey"><b>Login</b></button></a>
            </form>
        </div>

    </div>

  </div>
</div>
</center>
{% endblock %}
