{% extends "layout/base.html" %}
{% block title %}
Register Mahasiswa
{% endblock %}
{% block content %}


<center>
<div class="w3-container" style="margin-top:3%">
  {% for message in messages %}
      <div class="alert {{ message.tags }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="w3-text-red">{{ message }}</div>
      </div>
    {% endfor %}
  <div class="w3-card-4" style="max-width:55%">
    <header class="w3-container w3-light-blue">
      <h2>REGISTER<br>MAHASISWA</h2>
    </header>

    <div class="w3-container">
      <div class="w3-container w3-padding-16"><br>
        <form action="/account/post-register-mahasiswa/" method="POST">
            {% csrf_token %}
                <label for="username"> Username: </label>
                <input type="text" id="username" name="username" required><br>
                <label for="password"> Password: </label>
                <input type="password" id="password" name="password" required><br>
                <label for="npm"> NPM: </label>
                <input type="text" id="npm" name="npm" required><br>
                <label for="email"> Email: </label>
                <input type="text" id="email" name="email" required><br>
                <label for="nama_lengkap"> Nama Lengkap: </label>
                <input type="text" id="nama_lengkap" name="nama_lengkap" required><br>
                <label for="nomor_telepon"> Nomor Telepon: </label>
                <input type="text" id="nomor_telepon" name="nomor_telepon" required><br>
                <label for="alamat"> Alamat Tempat Tinggal: </label>
                <input type="alamat" id="alamat" name="alamat" required><br>
                <label for="alamat_domi"> Alamat Domisili: </label>
                <input type="text" id="alamat_domi" name="alamat_domi" required><br>
                <label for="bank"> Bank: </label>
                <input type="text" id="bank" name="bank" required><br>
                <label for="rekening"> Rekening: </label>
                <input type="rekening" id="rekening" name="rekening" required><br>
                <label for="nama_pemilik"> Nama Pemilik: </label>
                <input type="text" id="nama_pemilik" name="nama_pemilik" required><br>
            <!--<input type="submit" class="btn btn-primary w3-yellow">-->
            <br><a href="/"><button class="w3-button w3-round w3-light-grey w3-card"><b>Register</b></button></a>
        </form>

        </div>

    </div>

  </div>
</div>
</center>
{% endblock %}
