{% extends "layout/base.html" %}
{% block title %}
Register Donatur
{% endblock %}
{% block content %}
<center>
  <div id="modal_individual" class="w3-modal" style="padding-top:0">
  <span class="w3-button w3-black w3-xlarge w3-display-topright" onclick="document.getElementById('modal_individual').style.display='none'">×</span>
  <div class="w3-modal-content w3-card-5 w3-animate-zoom w3-center w3-round-large">
    <center>
        <header class="w3-container w3-light-blue">
            <h2> REGISTER<br>DONATUR INDIVIDU </h2>
        </header>
        <div class="w3-container w3-padding-16">
        <form action="/account/post-register-donatur-individu/" method="POST">
            {% csrf_token %}
            <div class="w3-row w3-container" style="max-width:50%">
            <div class="w3-col s6 ">
              <label style="margin-top:2%" for="username_individual"> Username: </label><br>
              <label style="margin-top:2%" for="password_individual"> Password: </label><br>
              <label style="margin-top:2%" for="ni_individual"> Nomor Identitas: </label><br>
              <label style="margin-top:2%" for="nik"> NIK: </label><br>
              <label style="margin-top:2%" for="email_individual"> Email: </label><br>
              <label style="margin-top:2%" for="nama_lengkap_individual"> Nama Lengkap: </label><br>
              <label style="margin-top:2%" for="npwp"> NPWP: </label><br>
              <label style="margin-top:2%" for="nomor_telepon_individual"> Nomor Telepon: </label><br>
              <label style="margin-top:2%" for="alamat_individual"> Alamat Tempat Tinggal: </label><br>
            </div>
            <div class="w3-col s6 ">
              <input style="margin-top:2%" type="text" id="username_individual" name="username_individual" required><br>
              <input style="margin-top:2%" type="password" id="password_individual" name="password_individual" required><br>
              <input style="margin-top:2%" type="text" id="ni_individual" name="ni_individual" required><br>
              <input style="margin-top:2%" type="text" id="nik" name="nik" required><br>
              <input style="margin-top:2%" type="text" id="email_individual" name="email_individual" required><br>
              <input style="margin-top:2%" type="text" id="nama_lengkap_individual" name="nama_lengkap_individual" required><br>
              <input style="margin-top:2%" type="text" id="npwp" name="npwp" required><br>
              <input style="margin-top:2%" type="text" id="nomor_telepon_individual" name="nomor_telepon_individual" required><br>
              <input style="margin-top:2%" type="text" id="alamat_individual" name="alamat_indivual" required><br>
            </div>
          </div>

            <!--<input type="submit" class="btn btn-primary w3-yellow">-->
            <br><a href="/"><button class="w3-button w3-round w3-light-grey w3-card"><b>Register</b></button></a>
        </form>
      </div>
    </center>
  </div>
</div>

<div id="modal_yayasan" class="w3-modal" style="padding-top:0">
  <span class="w3-button w3-black w3-xlarge w3-display-topright" onclick="document.getElementById('modal_yayasan').style.display='none'">×</span>
  <div class="w3-modal-content w3-card-5 w3-animate-zoom w3-center w3-round-large">
    <center>
        <header class="w3-container w3-light-blue">
            <h2> REGISTER<br>DONATUR YAYASAN </h2>
        </header>
        <div class="w3-container w3-padding-16">
        <form action="/account/post-register-donatur-yayasan/" method="POST">
            {% csrf_token %}
            <div class="w3-row w3-container" style="max-width:50%">
              <div class="w3-col s6 ">
                <label style="margin-top:2%" for="username_yayasan"> Username: </label><br>
                <label style="margin-top:2%" for="password_yayasan"> Password: </label><br>
                <label style="margin-top:2%" for="ni_yayasan"> Nomor Identitas: </label><br>
                <label style="margin-top:2%" for="nsk"> Nomor SK Yayasan: </label><br>
                <label style="margin-top:2%" for="email_yayasan"> Email Yayasan: </label><br>
                <label style="margin-top:2%" for="nama_yayasan"> Nama Yayasan: </label><br>
                <label style="margin-top:2%" for="nomor_telepon_yayasan"> Nomor Telepon: </label><br>
                <label style="margin-top:2%" for="npwp_yayasan"> NPWP: </label><br>
                <label style="margin-top:2%" for="alamat_yayasan"> Alamat Yayasan: </label><br>
              </div>
              <div class="w3-col s6 w3-center">
                <input style="margin-top:2%" type="text" id="username_yayasan" name="username_yayasan" required><br>
                <input style="margin-top:2%" type="password" id="password_yayasan" name="password_yayasan" required><br>
                <input style="margin-top:2%" type="text" id="ni_yayasan" name="ni_yayasan" required><br>
                <input style="margin-top:2%" type="text" id="nsk" name="nsk" required><br>
                <input style="margin-top:2%" type="text" id="email_yayasan" name="email_yayasan" required><br>
                <input style="margin-top:2%" type="text" id="nama_yayasan" name="nama_yayasan" required><br>
                <input style="margin-top:2%" type="text" id="nomor_telepon_yayasan" name="nomor_telepon_yayasan" required><br>
                <input style="margin-top:2%" type="text" id="npwp_yayasan" name="npwp_yayasan" required><br>
                <input style="margin-top:2%" type="text" id="alamat_yayasan" name="alamat_yayasan" required><br>
              </div>

            <!--<input type="submit" class="btn btn-primary w3-yellow">-->
            <br><br><a href="/"><button class="w3-button w3-round w3w3-light-grey w3-card"><b>Register</b></button></a>
          </div>
        </form>
      </div>
    </center>
  </div>
</div>


<div class="w3-container" style="margin-top:3%">
  {% for message in messages %}
      <div class="alert {{ message.tags }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="w3-text-red">{{ message }}</div>
      </div>
    {% endfor %}
  <div class="w3-card-4" style="max-width:55%">
    <header class="w3-container w3-light-blue">
      <h2>REGISTER<br>DONATUR</h2>
    </header>

    <div class="w3-container">
      <div class="w3-container w3-padding-16"><br>
        <button onclick="individual(this)" class="w3-button w3-card w3-round w3-light-grey">Donatur Individu</button><br><br>
        <button onclick="yayasan(this)" class="w3-button w3-card w3-round w3-light-blue">Donatur Yayasan</button>
        <br><br>
      </div>

    </div>

  </div>
</div>
</center>
{% endblock %}
{% block script %}
  function mahasiswa(element) {
  document.getElementById("modalmahasiswa").style.display = "block";
}
  function individual(element) {
    document.getElementById("modal_individual").style.display = "block";
  }
  function yayasan(element) {
  document.getElementById("modal_yayasan").style.display = "block";
}
{% endblock %}
