{% extends "layout/base.html" %}
{% block title %}
Register
{% endblock %}
{% block content %}
<center>
<div class="w3-container" style="margin-top:3%">
  <div class="w3-card-4" style="max-width:55%">
    <header class="w3-container w3-light-blue">
      <h1>REGISTER</h1>
    </header>

    <div class="w3-container">
      <div class="w3-container w3-padding-16"><br>
        <a href="/account/register_mahasiswa/"><button class="w3-button w3-card w3-round w3-light-blue">Sebagai Mahasiswa</button></a>
        <a href="/account/register_donatur/"><button class="w3-button w3-card w3-round w3-light-grey">Sebagai Donatur</button></a>
        <br><br>
      </div>

    </div>

  </div>
</div>
</center>
{% endblock %}
