{% extends "layout/base.html" %}
{% block title %}
Pendaftaran Beasiswa
{% endblock %}
{% block content %}
<style> 
[type="date"] {
  background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

/* custom styles */
body {
  padding: 4em;
  background: #e5e5e5;
  font: 13px/1.4 Geneva, 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}
label {
  display: block;
}
input {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  background-color: #fff;
  padding: 3px 5px;
  box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
  width: 190px;
}
form {
    margin-top:20%;
    width: 800px;
    margin:0 auto;
    max-width:60%;
    max-height: 70%
    padding:80px;
}

.w3-container {
    margin-top:3%;
    margin-left:60px;
    margin-right:60px;
}
#delete-button{
  border: #5DBCD2 solid 2px;
  text-align: center;
  border-radius: 5px;
  background-color: #5DBCD2;
  color: white;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

#delete-button:hover{
  border: #5DBCD2 solid 2px;
  text-align: center;
  border-radius: 5px;
  background-color: white;
  color: #5DBCD2;
}
#submit{
  width: 10vw;
  margin-left: inherit;
  margin-top: 10px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
#submit:hover{
  background-color: white;
  color: #5DBCD2;
}
.flex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  margin-bottom: 50px;
}
.flex-item{
  padding: 0 15px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 30%;
  border-radius: 5px;
  background-color: white;
  padding: 15px;
  margin: 15px;
  height: 180px;
  min-width: 250px;
}


.name{
  text-align: center;
}
.link{
  text-align: center;
  padding-top: 15px;
}
.added-date{
  color:grey;
  padding: 10px;
}
.added-date:before{
  content: "";
  display: block;
  padding: 18px;
}
.added-date:after{
  content:"";
  display:block;
  background: #fff;
}

/* The alert message box */
.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
    text-align: center;
}
.alert.success {background-color: #4CAF50;}
/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}
@media only screen and (max-width: 768px) {
  .flex-item{
    flex-basis: 90%;
  }
  #submit{
    margin-left: inherit;
    width: 150px;
  }
}
</style>

<div class="w3-container">
  <div class="w3-card-4">
    <header class="w3-container w3-light-blue">
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1>Form Pendaftaran Tambah Beasiswa Dari Paket</h1>
    </header>
            <form cid="form" method="POST" action="{% url 'register_beasiswa:message_post_tambah' %}">   
                {% csrf_token %}
                {{form2}}
            <input id="submit" type="submit" class="btn btn-lg btn-block btn-info" value="Submit">
            <br>
            </form>
            {% if status == "Fail" %}
            <div class="alert">
              <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
              <strong>Kode sudah ada.</strong> Kode yang anda masukan sudah terdapat di database kami.  
            </div>
            {% elif status == "Done" %}
            <div class="alert success">
              <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>  
              <strong>Success!</strong> Beasiswa berhasil diproses.
              </div>
            {% endif %}       
            </div>  
        </div>
        <div class="col-md-4"></div>
    </div>
</div>


{% endblock %}